.l-main {
  &__about-hero-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    &-header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-family: map-get($font-family, gideon);
      color: white;
    }
    &-background {
      width: 100%;
    }
  }

  &__about-our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(pc) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      height: auto;
    }
    &-image-container {
      position: relative;
      width: 100%;
      img {
        object-fit: cover;
        min-height: 100%;
      }
      &-texts {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-family: map-get($font-family, gideon);
        color: white;
        z-index: var(--z-about-our-story);
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        p {
          text-align: center;
        }
        h2 {
          font-size: 2rem;
        }
        span {
          font-family: map-get($font-family, italianno);
          font-size: 1.25rem;
        }
      }
      #story-bg {
        filter: brightness(0.5);
      }
      #story-side {
        display: none;
        @include breakpoint(pc) {
          display: unset;
        }
      }
    }
  }

  &__about-chefs {
    h1 {
      text-align: center;
      padding: 40px 0;
      font-size: 2rem;
      font-family: map-get($font-family, gideon);
      @include breakpoint(pc) {
        font-size: 4rem;
      }
    }
    &-wrapper {
      h1 {
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
      padding-bottom: 65px;
      @include breakpoint(pc) {
        display: flex;
        flex-direction: row;
      }
      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        &-chef-image {
          width: 10rem;
          border-radius: 999px;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
        }
        &-chef-name {
          font-weight: bold;
          font-size: 1.25rem;
          font-family: map-get($font-family, poppins);
        }
        &-chef-title {
          letter-spacing: 0.3rem;
          font-weight: lighter;
          font-size: 1.25rem;
          font-family: map-get($font-family, poppins);
        }
        &-chef-description {
          text-align: center;
          font-weight: lighter;
          font-size: 1.25rem;
          font-family: map-get($font-family, poppins);
        }
        &-social {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  &__about-special {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url('/img/about/chief-special.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    @include breakpoint(pc) {
      display: flex;
      flex-direction: row;
    }
    img {
      width: 100%;
      @include breakpoint(pc) {
        width: 50%;
        height: 100%;
      }
    }
    &-texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 2rem 2rem 0 2rem;
      @include breakpoint(pc) {
        padding: 0 4rem;
      }
      h2 {
        text-align: center;
        text-shadow: 0px 5px 5px gray;
        font-size: 2rem;
        font-family: map-get($font-family, rakaks);
      }
      p {
        text-align: center;
        color: map-get($color, castro);
        font-family: map-get($font-family, poppins);
      }
      span {
        text-align: center;
        text-shadow: 0px 5px 5px gray;
        font-size: 2rem;
        font-family: map-get($font-family, italianno);
      }
    }
  }
}
